backend:
  name: github
  repo: Rayz224/LCCGuides
  branch: main

media_folder: static/media
public_folder: /media

collections:
  - name: "guides"
    label: "Guides"
    label_singular: "Guide"
    folder: "guides"
    create: true
    path: "{{slug}}/{{year}}/{{slug}}"
    extension: "md"
    summary: "{{title}} - {{year}}"

    fields:
      - label: "Événement"
        name: "title"
        widget: "string"
        required: true
        hint: "Nom de l'événement (ex: Classique Champlain)"

      - label: "Année"
        name: "year"
        widget: "number"
        value_type: "int"

      - label: "Logo (SVG seulement)"
        name: "logo"
        widget: "image"
        media_folder: "/guides/{{slug}}/{{year}}"
        public_folder: ""

      - label: "Contenu du guide"
        name: "body"
        widget: "markdown"
        required: true

      - label: "Status"
        name: "status"
        widget: "select"
        options: ["draft", "published"]
        default: "draft"