backend:
  name: github
  repo: CoordoLCC/LCCGuides
  branch: main

media_folder: static/media
public_folder: /media

collections:
  - name: "guides"
    label: "Guides"
    label_singular: "Guide"
    folder: "guides"
    create: true
    path: "{{slug}}/{{year}}/{{slug}}"
    extension: "md"
    summary: "{{title}} - {{fields.year}}"

    fields:
      - label: "Événement"
        name: "title"
        widget: "string"
        required: true
        hint: "Nom de l'événement (ex: Classique Champlain)"

      - label: "Année"
        name: "year"
        widget: "string"
        required: true
        pattern: ["^[0-9]{4}$", "Entrez une année valide (ex: 2025)"]

      - label: "Logo (SVG seulement)"
        name: "logo"
        widget: "image"
        media_folder: "/guides/{{slug}}/{{fields.year}}"
        public_folder: ""
        pattern: [".*\\.svg$", "Seuls les fichiers SVG sont autorisés."]

      - label: "Contenu du guide"
        name: "body"
        widget: "markdown"
        required: true

      - label: "Status"
        name: "status"
        widget: "select"
        options: ["draft", "published"]
        default: "draft"
